body { 
	padding: 2em;
	font-family: 'Orbitron', sans-serif;
	color: whitesmoke;
	background-color: #1D1D1D;
}

h1 {
	font-size: 22px;
	font-weight: 800;
}

a { color: rgb(183, 255, 0); }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	display: grid;
	gap: 1em;
}

/* h1 { font-family: Orbitron; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Orbitron; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Orbitron; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Orbitron; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Orbitron; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; } */


.image-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.channel-owner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.channel-collaborator {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.audio-embed-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.link-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.pdf-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.video-embed-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
