/* *{
	border: 1px solid red;
	box-sizing border-box
} */

body { 
	box-sizing: border-box;
	padding: 3vw;
	font-family: 'Orbitron', sans-serif;
	color: whitesmoke;
	background-color: #110f1e;
	/* display: grid;
	place-items: center;
	min-height: 100vh;
	overflow: hidden; */
}

h1 {
	font-size: 22px;
	font-weight: 800;
	/* position: fixed; */
}

a { color: #e404ff; }
/* em { font-style: italic; }
strong { font-weight: bold; } */

body,
section,
ul,
figure {
	display: grid;
	/* gap: 1em;  */
}

p {
  /* margin-top: 1em ; */
  margin-bottom: 1em;
  /* margin-left: -1em;
  float: right; */
}

.content {
	display: flex;
	width: 94vw;
	/* grid-template-columns: repeat(4, 1fr); */
	flex-wrap: wrap;
}

.content li {
	/* background-color: aqua; */
	width: 25%;
	padding: 4em;
	/* padding-bottom: 20px; */
}

.content li figure {
width: 100%;
/* border: 1px solid red; */
}

.content li figure picture {
	width: 100%;
	border: 5px solid rgb(21, 21, 60);	
	background: linear-gradient(90deg, #202060, transparent) #164df2;
	border-radius: 50%;	
	transition: background-color 1s;
	/* this is the issue with grid and image sizing */
	box-shadow: 0 0px 100px rgb(0 0 0 / 100%);
	}

.content li figure picture img {
	width: 100%;
	/* height: 400px; */
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	mix-blend-mode: overlay;
	/* opacity: 30%; */
	/* -webkit-box-shadow: 0 0 99px rgba(0, 0, 0, 1)  ; 
	-moz-box-shadow: 0 0 99px rgba(0, 0, 0, 1)  ;  */
}

template {
	width: 33%;
}

.content li figure picture img:hover {
	/* opacity: 30%; */
	mix-blend-mode: overlay;
}

.content li figure picture:hover, .content li figure picture:focus {

	background-color: #e404ff;
	color: #fff;
  }


h1 {
	/* display: flex; */
	font-size: 70px;
	font-weight: 900;
	/* align-content: center; */
}

.title {
	/* color: #5bc8af; */
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

.channel-url {
	padding-bottom: 40px;
}

.channel-description {
	font-size: 24px;
	line-height: 34px;
	padding-top: 20px;
	padding-bottom: 100px;
	width: 45vw;
	color: #53ddaf;
	letter-spacing: 1px;
	white-space: inherit;
	/* word-spacing: 1px; */
}

/* .full-name {
	padding-left: 1% !important;
	background-color: #3cff97;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	} */



.time-updated {
	display: none;
	/* margin-top: 20px;
	font-size: 10px;
	color: grey;
	margin-top: -30px; */
}

.time-created {
	font-size: 12px;
	color: #53ddaf;
	margin-top: -40px;
	text-transform: uppercase;
	/* display: none;
	text-transform: capitalize; */
}

.description {
	display: none;
	/* color: rgb(164, 196, 196);
	padding-top: 20px;
	font-size: 18px;
	line-height: 27px; */
}

.type {
	display: none;
	/* font-size: 10px;
	color: grey; */
}

.link {
	display: none;
}

.linkname {
	display: block;
	margin-bottom: 100px;
	/* padding-left: -20px;
	background-color: #3cff97; */
}

.avatar {
	display: none;
}

.channel-count {
	/* font-size: 10px;
	color: grey;
	padding-top: -10% !important; */
	display: none;
}

.one {
	width: 10vw !important;
	padding: 0% !important;
	margin-top: -3% !important;
	/* margin-left: -2.7% !important; */
	color: grey;
}

.popup {
	width: 94vw;
	/* background-color: #53ddaf; */
	backdrop-filter: blur(40px);
	padding: 3%;
	/* margin: 2%; */
	position: fixed;
	top: 50%;
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%);
	z-index: 2;
	/* display: flex;
	flex-direction: column; */
	/* height: 100vh; */
}

#popup-title {
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	float: right;
	width: 50%;
	padding-top: 100px;
	flex-direction: column;
	margin-bottom: 40px;
}

#popup-description {
	font-size: 24px;
	line-height: 34px;
	float: right;
	width: 51%;
	/* flex-direction: row; */
	/* margin-left: -1em; */
	/* padding: 20%; */
}

#close {
	float: right;
	margin-left: auto;
	margin-right: 0;
	text-transform: capitalize;
	text-decoration: solid;
	font-weight: 900;
	font-size: 40px;
	color: #53ddaf;
	/* padding-top: 100px; */
	/* margin-bottom: 100px; */
	/* all: revert; */
}

#popup-image {
	width: 40%;	
	/* IMAGE POP_UPS ARE NOT WOKRING */
}

#popup-time-updated {
	margin: 0%;
	padding: 0%;
}

/* #popup-time-created {
	font-size: 12px;
	color: #53ddaf;
	margin-top: -40px;
	text-transform: uppercase;
	float: right;
	display: flex;
	flex-direction: column;
	
	margin: 0%;
	padding: 0%;
} */

.time {
	font-size: 12px;
	color: #53ddaf;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	float: left;
	margin-top: 20px;
}

#filter {
	float: right ;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 3vw;
	right: 2vw;
	font-weight: 900;
	/* padding: 3vw; */
	font-size: 36px;
	line-height: 2;
	position: fixed;
	color: #e404ff;
	font-style: italic;
}



/* #popup-video {
	width: 40%;
}

#popup-audio {
	width: 40%;
} */




@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 

	.content {
			display: block;
		}

	.content li {
			/* background-color: aqua; */
			width: 100%;
			padding: 3em;
			/* padding-bottom: 20px; */
		}

	.content li figure {
			width: 100%;
		}

	h1 {
			font-size: 40px;
			/* padding: 20px; */
		}
		
	.channel-url {
		display: none;
		}
		
	.channel-description {
			font-size: 18px;
			padding-top: 20px;
			line-height: 24px;
			/* padding: 20px; */
			width: 90vw;
			padding-bottom: 20% !important;
		}
		
	.linkname {
			display: block;
			/* padding-left: -20px; */
		}
		
		
	.title {
			color: #3cff97;
			font-size: 24px;
			/* font-weight: 500; */
			margin-bottom: 20px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-transform: uppercase;
		}
		
	.time-updated {
			display: none;
			/* margin-top: 20px;
			font-size: 10px;
			color: grey; */
		}
		
	.time-created {
			display: none;
			/* font-size: 10px;
			color: grey; */
		}
		
	.description {
		display: none;
			/* color: rgb(164, 196, 196);
			padding-top: 20px;
			font-size: 18px;
			line-height: 27px; */
		}
		
	.type {
			display: none;
			/* font-size: 10px;
			color: grey; */
		}
		
	.link {
		display: none;
		}

	.channel-description {
		padding-bottom: 30%;
		}

				/* NOT NEEDED
				
				.channel-owner {
			display: none;
		}
		
		.channel-collaborator {
			display: none;
		}

		 .channel-count {
			display: none;
		} 
		
			/* body { 
		box-sizing: border-box;
		padding: 3vw;
		font-family: 'Orbitron', sans-serif;
		color: whitesmoke;
		background-color: #161616;
	
	} */
	
	}


/* NOT NEEDED

.channel-owner {
	display: none;
}

.channel-collaborator {
	display: none;
}

#full-name {
margin-left: 1% !important;
background-color: #3cff97;
}

.image-block {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: aliceblue;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
 }

.channel-owner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.channel-collaborator {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.audio-embed-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.link-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.pdf-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.video-embed-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
} 

h1 { 
	font-family: Orbitron; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
} 

h3 { 
	font-family: Orbitron;
	font-size: 14px; font-style: normal; 
	font-variant: normal; 
	font-weight: 700; line-height: 15.4px; 
} 
	
p { 
	font-family: Orbitron; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; 
} /* 

.popup div {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
} */
